{% extends 'customer/base.html' %}

{% block content %}
       <div class="customer">
            <h1>{{ cus.name }} </h1>
            <h1>{{ cus.email }} </h1>
             <div class="date">
                <p> 생년월일 : {{cus.birthdate}}</p>
            </div>
            {% if cus.gender is True %}
                <p>남자</p>
            {% else %}
                <p>여자</p>
            {% endif %}

         {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'customer_edit' pk=cus.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

            <a class="btn btn-default" href="{% url 'customer_remove' pk=cus.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
         {% endif %}
        </div>

    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_customer' pk=cus.pk %}"> Add Comment </a>
    {% for comment in cus.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                        <span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                        <span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}

{% endblock %}